.timer {
    margin-top: 40px;
    margin-left: 40px;
    color: brown;
    float: left;
}

#lada {
    margin-top: 40px;
    padding-right: 20px;
    margin: right;
  
    float: right;
    
    color:blue;

}